@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');

@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #601616;
  --color-secondary: #3B1F1F;
  --color-light-pink: #B78F8F;

  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

/* Default body font */
body {
  font-family: var(--font-sans);
}
